@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

* {
  font-family: poppins, sans-serif;
}

html {
  margin: 0;
}

body {
  width: 80%;
  margin: 24px auto;
  text-align: center;
  font-family: poppins, sans-serif;
}

.book {
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
}

.book h2 {
  font-size: 18px;
  text-transform: capitalize;
  font-weight: 400;
}

.books {
  border: 3px solid black;
  padding: 7px;
}

.book button {
  height: 35px;
  padding: 0 24px;
}

.book button:hover {
  cursor: pointer;
  box-shadow: 0 3px 10px rgb(0 0 0 / 20%);
}

.odd {
  background-color: rgb(236 235 235);
  font-weight: bold;
}

.add-book {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.add-book input {
  width: 50%;
  height: 28px;
  padding-left: 8px;
}

#add-btn {
  margin-left: auto;
  margin-right: 24%;
}

nav {
  height: auto;
  padding-left: 15px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  border: 3px solid black;
}

nav a {
  text-decoration: none;
  color: black;
}

nav a:hover {
  cursor: pointer;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav ul li {
  border-right: 3px solid black;
  padding-right: 7px;
}

nav ul li:hover {
  cursor: pointer;
}

nav ul li:last-child {
  border-right: none;
}

footer {
  border: 3px solid black;
  padding: 8px 0;

  /* margin-top: 40vh; */
  position: fixed;
  left: 0;
  bottom: 0;
  margin: 0 10%;
  margin-bottom: 10px;
  width: 80%;
  display: flex;
  justify-content: flex-start;
}

footer span {
  padding-left: 14px;
}

.contact-section {
  display: none;
}

.contact-section-active {
  margin-top: 20vh;
  display: block;
}

.contact-section ul {
  list-style: none;
}

.active-page {
  color: blueviolet;
}
